 html,
 body {
     padding-top: 5vh;
 }
 
 .logo {
     text-align: center;
 }
 
 .logo img {
     width: 100px;
 }
 
 .project {
     padding-top: 10px;
     text-align: center;
     color: white;
     font-size: 40px;
     line-height: 1.2;
     font-family: 'Open Sans', sans-serif !important;
 }
 
 .socket {
     border-top: 1px solid #191919;
     margin-top: 10px;
     padding: 8px 0;
     color: #b9f291;
     font-size: 15px;
     font-family: 'Open Sans', sans-serif !important;
 }
 
 .btn-add {
     margin-top: 15px;
 }
 
 .link-docs {
     padding-top: 5px;
     text-align: center;
     font-family: 'Open Sans', sans-serif !important;
 }
 
 .link-docs a {
     font-size: 17px;
     color: #50bf94;
 }
 
 .token {
     padding-top: 5px;
     text-align: left;
     color: #50bf94;
     font-family: 'Open Sans', sans-serif !important;
 }
 
 .hello {
     font-family: 'Open Sans', sans-serif !important;
 }
 
 .hello .rm {
     float: right;
     cursor: pointer;
     font-size: 11px;
 }
 
 .hello .greet {
     font-size: 17px;
 }
 
 .hello .language {
     color: #50bf94;
     font-size: 11px;
 }
 
 .footer {
     margin-top: 0px;
     text-align: center;
     color: white;
 }
 
 .footer a {
     color: #50bf94;
     font-family: 'Open Sans', sans-serif !important;
 }