<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <meta name="description" content="nodetomic-api-swagger">
    <meta name="author" content="nodetomic-api-swagger">
    <title>API client</title>
</head>

<body>
    <center>
        <p>
            <img src="logo.svg" width="100" />
            <h2>Hello World!</h2>
            You can paste the compilation of a client here, for example of Vue, React, Angular ...
        </p>
    </center>

    <style>
        body {
            font-family: sans-serif;
        }
    </style>
</body>

</html>