<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <meta name="description" content="nodetomic-api-swagger">
    <meta name="author" content="nodetomic-api-swagger">
    <title>NAS - Client</title>
</head>

<body>
    <center>
        <p>
            <h2>API running!</h2>
            <p>You can paste the compilation of a client here, for example of Vue, React, Angular, Aurelia ... or you can delete the client folder</p>
            <p>
                <b>Note:</b> if it is in production you must restart the server to see the changes.
            </p>
            <p>
                <img src="logo.svg " width="40 " />
            </p>
        </p>
    </center>

    <style>
        body {
            font-family: sans-serif;
        }
        
        h2 {
            color: #50bf94;
        }
    </style>
</body>

</html>